@page { size: 210mm 297mm; margin: 2mm; margin-bottom: 5mm; }
/*  Adjested page margins to pring lass set of qr-codes on single page */
h1 { font-weight: 500; font-size: 11pt; }
h2, h3 { margin: 5px .5em 3px .5em; }
h3 { margin-left: -2mm; }
h2, h3  { float: left; font-weight: 400; font-size: 9pt;}
a { color: grey; text-decoration: none; font-size: 7pt; }
p { font-size: 7pt; margin-left: 2em; }
p.abouts { color: gray; }
div.qr-codes { margin-top: 2mm; border-bottom: none; }
div.qr-png { float: right; }
/* Needs adjustment to fit lass row of qr-code wholly onto first page */
img.qr { float: right; width: 10mm; margin-right: 3mm; margin-top: -2mm;}
table { margin-left: 0; clear: left; font-size: 9pt; margin-bottom: .5em; }  
tr { border-bottom: thin dotted gray;  }
td { padding: .25 5; }
td:nth-child(1) { font-size: 8pt;  }  
td:nth-child(2) { font-size: 8pt; border-bottom: thin dotted gray;  }  
td:nth-child(3) { font-size: 8pt;  }  
